{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {{ block.super }}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/general.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_users/scss/travel_users.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}


{% block body %}
    <div class="body-wrap">
        <div class="img-wrap--main">
            <div class="container container--narrow container--white">
                {% if user.is_authenticated %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Edit Your Profile Info Below:</h2>
                        <ul class="profile-edit flex--wrap ml--1">
                            {% for field in form.visible_fields %}
                                {% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'city' or field.name == 'state' or field.name == 'phone' or field.name == 'email' or field.name == 'emergency_first_name' or field.name == 'emergency_last_name' or field.name == 'emergency_email' or field.name == 'emergency_phone' %}
                                    {% if field.name == 'emergency_first_name' %}
                                        <h3 class="d--blk w--100"> Emergency Info </h3>{% endif %}
                                    <li class="flex--2 li--none {% if field.name == 'phone' %} mr--1 {% endif %}{% if field.name == 'email' %} ml--1 {% endif %}">
                                        <label for="">{{ field.label }}</label>
                                        {{ field }}
                                    </li>
                                {% else %}
                                    {% if field.name == 'allergies' %}<h3 class="d--blk w--100">Additional Info </h3>
                                    {% endif %}
                                    {% if field.name == 'password' %} {#  Don't display password field #}
                                    {% else %}
                                        <li class="flex--full li--none">
                                            <label for="">{{ field.label }}</label>
                                            {{ field }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <input type="submit" value="save">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}