{% extends 'base.html' %}
{% load static %}


{% block body %}
	<div class="body-wrap">
        <div class="img-wrap img-wrap--main home__img-wrap">
            <div class="container container--narrow">
				<div class="grid">
					<div class="grid--8">
						<div class="container--white pos--rel z--10">
							<h3 class="ta--c"><span class="fw--700 mb--2">Login!</span></h3>
							<form action="" method="post" class="login-form">
								{% csrf_token %}
								{{ form.as_p }}
								<button type="submit" class="d--blk ta--c pl--2 pr--2 m--0auto">Login</button>
								<input type="hidden" name="next"/>
							</form>
						</div>
					</div>
				</div>
        	</div>
    	</div>
	</div>

{% endblock %}
