{% extends 'base.html' %}
{% load static compress %}

{% block head %}
    {{ block.super }}
        {% block css %}
            {{ block.super }}
            {% compress css inline %}
                <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/general.scss' %}">
                <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_users/scss/travel_users.scss' %}">
            {% endcompress %}
        {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
		<div class="hero hero--lg hero__form f--wrap a--ctr j--ctr pos--rel o-hide z--10">
			<img src="{% static 'travel_planner/images/curacao-bw.jpg' %}" alt="Curacao" class="hero__bkg pos--abs">
			<h1 class="h1--sm group__head pos--rel c--white grid--full ta--c z--10">Login</h1>
		</div>
		<div class="container container--max container--center pos--rel z--10">
			<div class="grid mt--2">
				<div class="grid--8">
{#					<h2 class="ta--c">Login</h2>#}
					<div class="form-outer grid--6 blk--shadow p--2">
					 	<div class="form-wrap f--wrap">
							<form action="" method="post">
								{% csrf_token %}
								{{ form.as_p }}
								<button type="submit" class="d--blk ta--c pl--2 pr--2 m--0auto">Login</button>
								<input type="hidden" name="next"/>
							</form>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
