{% extends 'base.html' %}
{% load static %}

{% block body %}
	<div class="body-wrap">
        <div class="img-wrap img-wrap--main home__img-wrap">
            <div class="container container--narrow flex a--ctr j--ctr">
				<div class="grid">
					<div class="grid--8">
						<div class="container--white pos--rel z--10">
							<h3 class="ta--c"><span class="fw--700 mb--2">Congrats!</span></h3>
							<h4 class="ta--c mt--2">You're officially signed up to Travel Pocket</h4>
							<div class="flex a--ctr j--ctr">
								<a href="{% url 'login' %}" class="btn btn--primary ta--c">Login Here</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}