djangorestframework~=3.11.0
django~=3.0.4
django-compressor==2.4
django-invitations
django-libsass
django-phonenumber-field
django-richtextfield==1.5.0
mysql-connector-python
phonenumbers
pillow==6.0.0

requests~=2.20.1