{% extends 'accommodations/base.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="body-wrap">
			<div class="bkg__img-wrap pos--abs o-hide">
				{% for item in site_settings %}
					<img src="{{ item.accommodation_photo }}" alt="Hotel bedroom" class="hero__bkg pos--abs w--100">
					<p class="caption caption--hero pos--abs">Photo credit: {{ item.accommodation_photo_attribution }}</p>
				{% endfor %}
			</div>

			<div class="grid">
				<div class="grid--8">
					<div class="img-wrap img-wrap--main">
						<div class="container container--narrow container--center container--white">
							<h2>Travel Accommodations for {{ person.first_name }} {{ person.last_name }}</h2>
							{% if accommodations|length == 0 %}
								<p>You don't have any accommodations. Add one now!</p>
							{% else %}
								<div class="place">
									<div class="accommodation">
										<h3>{{ accommodation.trip }}</h3>
										{% for accommodation in accommodations %}
											<div class="accommodation flex--wrap mb--2 ml--3 pb--2 {% if forloop.last %} no-border {% endif %}">
											{% if accommodation.name %}
												<h4>{{ accommodation.name }}</h4>
											{% endif %}
												<div class="accommodation__wrap pos--rel">
													<div class="num pos--abs fw--700">{{ forloop.counter }}</div>
													<div class="accommodation__info">
														<h3 class="m--0 c--sec">{{ accommodation.title }} ({{ accommodation.type }})</h3>
														{% if accommodation.website %}
															<a class="d--blk c--sec mt--1" href="{{ accommodation.website }}">
																{{ accommodation.website }}</a>
														{% endif %}
													</div>
													<div class="accommodation__dates flex">
														<p class="accommodation__date check-in mr--2"><span class="fw--700">Check-in: </span> {% if accommodation.date_check_in %}{{ accommodation.date_check_in }}{% else %}TBD{% endif %}</p>
														<img
															srcset="{% static 'travel_planner/images/icon-arrow-right.png' %} 1x, {% static 'travel_planner/images/icon-arrow-right.png' %} 2x"
															src="{% static 'travel_planner/images/icon-arrow-right.png' %}"
															alt="">
														<p class="accommodation__date check-out ml--2"><span class="fw--700">Check-out: </span> {% if accommodation.date_check_out %}{{ accommodation.date_check_out }}{% else %}TBD{% endif %}</p>
													</div>
													{% if accommodation.notes %}
														<p>Notes: {{ accommodation.notes }}</p>
													{% endif %}
												</div>
												<div class="link-group flex--wrap ml--0">
											<a class="c--sec pr--1" href="{% url 'accommodation_detail' user.username accommodation.pk %}">View Details |</a>
											<a class="c--sec pr--1" href="{% url 'accommodation_edit' accommodation.pk %}">Edit Accommodation |</a>
											<a class="c--sec pr--1" href="{% url 'accommodation_delete' accommodation.pk %}">Delete Accommodation</a>
										</div>
											</div>
										{% endfor %}
										{% if user.is_authenticated and user.username == profile_user.username %}
											<div class="btn-wrap">
												<a class="btn btn--sec" href="{% url 'accommodation_create' %}">Add
													Accommodation</a>
											</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
							<a class="btn btn--primary" href="{% url 'accommodation_create' %}">Add Accommodation</a>
						</div>
					</div>
				</div>
			</div>
        </div>
    {% endif %}
{% endblock %}

