{% extends 'accommodations/base.html' %}
{% load static %}


{% block body %}
    <div class="body-wrap">
        <div class="img-wrap img-wrap--main">
            <div class="container container--narrow container--center container--white">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.title }}"?</p>
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
{% endblock %}