{% extends 'accommodations/base.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="body-wrap">
            <div class="img-wrap img-wrap--main">
                <div class="container container--narrow container--center container--white">
                    <form method="post">
                        <h2>Add Accommodation</h2>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}