.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &--profile {
    display: grid;
    grid-template-columns: 1fr;
  }

  &--split {
    display: grid;
    grid-template-columns: 2.5fr 1.75fr;
  }

  &--left {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &--right {
    grid-column: 2 / -1;
    grid-row: 1;
  }

  &--full {
    grid-column: 1/ -1;
  }
}

.container {

  &--full {
    grid-column: 1 / -1;
  }

  &--xnarrow,
  &--narrow{
    grid-column: 2 / 12;
  }

  &--center {
      align-self: center;
     justify-content: center;
  }

  &--white {
    background: $white;
    box-shadow: 0 4px 6px 0 rgba($gray, 0.4);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2rem;
    z-index: 10;
  }

  @include bp(min, $bp-lg) {
      &--xnarrow {
        grid-column: 5 / 9;
      }

      &--narrow {
      grid-column: 3 / 11;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex--full {
  flex-basis: 100%;
}

.flex--2 {
  flex-basis: 100%;
  @include bp(min, $bp-lg) {
    flex-basis: calc(50% - 1rem);

    &:nth-child(odd) {
      margin-right: 1rem;
    }

    &:nth-child(even) {
      margin-left: 1rem;
    }
  }
}

.j--btwn {
  justify-content: space-between;
}

.a--ctr {
  align-items: center;
}
