@import 'travel_planner/scss/components/_variables.scss';

.profile--top {
  grid-column: 1 / -1;
  margin-top: -10%;

  .img-wrap {
    border: 4px solid $white;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 25%;
    width: 25%;
  }

  .btn-wrap {
    margin: 0 auto;
  }

  .btn--primary {
    margin-top: 1rem;
  }
}

.profile__pic {
  justify-self: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
}

.user-meta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  p {
    margin-right: 2rem;
  }
}

.user__detail {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;

  p {
    margin-left: 1rem;
  }
}

.profile-wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.travel-group {
  padding-left: 2rem;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
  }

  &:before {
    border-left: 1px solid rgba(gray, 0.5);
  }

  &:after {
    border-right: 1px solid rgba(gray, 0.5);
    left: -5px;
  }

}