{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel Pocket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli|Noto+Serif+KR:500,700&display=swap" rel="stylesheet">

    {% block css %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/general.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/components/_forms.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/components/_variables.scss' %}">
        {% endcompress %}
    {% endblock %}
</head>


<body>
    <div class="grid">
        {% block body %}
        {% endblock %}
    </div>
</body>

{% block footer %}
    <footer>

    </footer>
{% endblock %}
</html>