{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel Pocket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" href="{% static 'travel_planner/scss/general.scss' %}">
            <link rel="stylesheet" href="{% static 'travel_planner/scss/components/_forms.scss' %}">
        {% endcompress %}
    {% endblock %}
</head>


    <body>
        <div class="grid">
            {% block body %}
            {% endblock %}
        </div>
    </body>

{% block footer %}
    <footer>

    </footer>
{% endblock %}
</html>