{% load static compress %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
    <head>
        <title>Travel Pocket</title>
        <script src="https://use.fontawesome.com/71507023c7.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Muli|Noto+Serif+KR:500,700&display=swap" rel="stylesheet">
        {% block css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            {% compress css inline %}
                <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_planner/scss/general.scss' %}">
            {% endcompress %}
        {% endblock %}
    </head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

<header>
    <nav class="b-shadow flex a--ctr">
        <a href="{% url 'home' %}">Travel Pocket</a>
        {% if user.is_authenticated %}
            <div class="nav-items flex--wrap">
				{% if user.travel_group_invite.all|length > 0 %}
					<div>
						<span class="nav-alert flex--wrap c--sec mr--1">
							<img src="{% static 'travel_planner/images/alert.svg' %}"
								 alt="Exlamation point icon">
							<span class="nav-invites">
								<span class="arrow-up"></span>
								{% for travel_invite in user.travel_group_invite.all %}
									<a class="d--blk" href=
											"{% url 'travel_group_invite_pending' travel_invite.id user %}">
									{{ travel_invite }}</a>
								{% endfor %}
							</span>
						</span>
					</div>

				{% endif %}
                <a href="{% url 'profile' user.username %}" class="c--sec">
					<span class="link-text c--sec mr--1">My Profile</span>
					<span class="c--sec mr--1">|</span>
				</a>
                <a href="{% url 'travel_group_index' user.username %}" class="c--sec mr--2">My Travel Groups</a>
                <a href="{% url 'logout' %}" class="btn btn--nav">Logout</a>
            </div>
        {% endif %}
    </nav>
</header>

<body>
	{% block body %}
		<div class="grid"></div>
	{% endblock %}
</body>

{% block javascript %}
	{% compress js inline %}
		<script src="{% static 'travel_planner/js/accordion.js' %}"></script>
	{% endcompress %}
{% endblock %}

{% block footer %}
    <footer>
        <p class="ta--c">&copy; {% now 'Y' %} — Travel Pocket</p>
    </footer>
{% endblock %}
</html>