{% extends 'base.html' %}

{% block head %}
   {{ super }}
{% endblock %}

{% block body %}
    <h1>Travel Pocket</h1>
    <p>Stop tripping over your travel plans. Keep everything in one centralized location with Travel Pocket. Create groups, organize day trips, update itineraries and more!</p>
    <div class="ctas ctas--home">
        <h2>Check it out…</h2>
{#        <a href="{% url 'signup' %}" class="btn">Sign Up</a>#}
{#        <a href="{% url 'login' %}" class="btn">Login</a>#}
    </div>
{% endblock %}