@import 'travel_planner/scss/general.scss';

.profile--top {
  grid-column: 1 / -1;

  &__img {
    margin-top: -10%;
  }

  .img-wrap {
    border: 4px solid $white;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 25%;
    width: 25%;
  }

  .btn-wrap {
    margin: 0 auto;
  }

  .btn--primary {
    margin-top: 1rem;
  }
}

.profile__name {
  margin-bottom: 1rem;
}

.profile__pic {
  justify-self: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
}

.profile-edit {
  .flex--2:nth-child(6) {
    margin-left: 0;
  }

  .flex--2:nth-child(7) {
    margin-right: 0;
  }
}

.user-meta {

  p {
    margin-right: 2.5rem;
  }

  @include bp(min, $bp-lg) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.user__detail {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  p {
    margin-left: 1rem;
  }

  @include bp(min, $bp-lg) {

  }
}

.profile-wrapper {
  display: grid;

  @include bp(min, $bp-lg) {
    grid-template-columns: 2.5fr 1.75fr;

  }
}

.group__name {
  margin: 0 3rem 0 0;
}

.group__edit-wrap {
  display: flex;
  align-items: center;
}

.group__edit {
  color: $secondary;
  margin-right: 0.8rem;
  text-decoration: none;
  transition: 0.3s ease all;

  &:hover {
    margin-right: 1.2rem;
  }
}

.profile__group {
  position: relative;
  margin-bottom: 4rem;
  flex-basis: 100%;

  &:after {
    content: "";
    width: 15%;
    height: 1px;
    //background: rgba($gray, 0.2);
    position: absolute;
    bottom: -2rem;
  }

  &--last {
    margin-bottom: 4rem;
  }
}

.er__contact {
  padding-left: 2rem;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: 0;
  }

  @include bp(min, $bp-lg) {
    &:before {
      border-left: 1px solid rgba(gray, 0.5);
    }

    &:after {
      border-right: 1px solid rgba(gray, 0.5);
      left: -5px;
    }
  }
}

.group__cities {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.transport__info,
.travel__info {
  display: flex;
}

label[for="id_password"],
#id_password{
    display: block;
}
