{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
		<div class="hero hero--lg hero__form f--wrap a--ctr j--ctr pos--rel o-hide z--10">
			<img src="{% static 'travel_planner/images/curacao-bw.jpg' %}" alt="Curacao" class="hero__bkg pos--abs">
			<h1 class="h1--sm group__head pos--rel c--white grid--full ta--c z--10">Checklists</h1>
		</div>
		<div class="container container--max container--center pos--rel z--10">
			<div class="grid mt--2">
				<div class="grid--8 form-outer grid--8 blk--shadow p--2">
                    {% for field in items %}
                        <form class="checklist__items mb--2" action="{% url 'travel_checklist_edit' field.id request.user.username %}" method="post">
							{% csrf_token %}
							<div class="flex j--btwn">
								<div class="checklist__info flex">
									<input type="hidden" name="checklist_item" value="{{ field }}">
										{{ checklist_form.item_status }}
										<label for="item_status" data-id="{{ field.id }}" data-travelid="{{ field.travel_group.id }}" data-status="{{ field.item_status }}"></label>
										<input type="text" class="checklist__item m--0 mr--2" value="{{ field }}">
										<a href="{% url 'travel_checklist_delete' field.id request.user.username %}">delete</a>
								</div>
							</div>
						</form>
                    {% endfor %}
                    <h3>Add another item</h3>
                    <form action="{% url 'travel_checklist_create' travelgroup request.user.username %}" method="post">
                        {% csrf_token %}
                        {{ checklist_create_form.checklist_item }}
                        <div class="hide">{{ checklist_create_form.item_status }}</div>
                        <div class="hide">{{ checklist_create_form.checklist_creator }}</div>
                        <div class="hide">{{ checklist_create_form.travel_group }}</div>
                        <div class="btn-wrap">
                            <input type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        let checkboxes = document.querySelectorAll('.checklist__info input[type="checkbox"]');
        let checklistField = document.querySelectorAll('.checklist__item');
        if(checkboxes) {
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            let user = "{{ request.user.username }}";
            let checklist_creator_id = {{ request.user.id }};
            checkboxes.forEach( (checkbox) => {
                let checkbox_checked = checkbox.nextElementSibling.getAttribute('data-status');
                if(checkbox_checked === 'True') {
                    checkbox.checked = true;
                } else {
                    checkbox.checked = false;
                }
                checkbox.addEventListener('click', function(){
                    let itemId = parseInt(checkbox.nextElementSibling.getAttribute('data-id'));
                    let checklist_item = checkbox.nextElementSibling.nextElementSibling.value;
                    let travel_group = parseInt(checkbox.nextElementSibling.getAttribute('data-travelid'));
                    checkbox_checked = checkbox.nextElementSibling.getAttribute('data-status');

                    if(checkbox_checked === 'True') {
                        checkbox.nextElementSibling.setAttribute('data-status', 'False');
                        checkbox.checked = false;
                    } else {
                        checkbox.nextElementSibling.setAttribute('data-status', 'True');
                        checkbox.checked = true;
                    }

                    axios.post(`/travel-group/checklist-edit/${itemId}/${user}`, {
                            checklist_creator: checklist_creator_id,
                            checklist_item: checklist_item,
                            travel_group: travel_group,
                            item_status: checkbox.checked,
                            item_id: itemId
                        })
                })
            });

            checklistField.forEach( (checklist) => {
                function inputBlur(e){
                    let updatedValue = e.target.value;
                    let travel_group = parseInt(checklist.previousElementSibling.getAttribute('data-travelid'));
                    let itemId = parseInt(checklist.previousElementSibling.getAttribute('data-id'));
                    let itemStatus = checklist.parentElement.querySelector('#id_item_status');
                    checklist.setAttribute('value', updatedValue);
                        axios.post(`/travel-group/checklist-edit/${itemId}/${user}`, {
                                checklist_creator: checklist_creator_id,
                                checklist_item: updatedValue,
                                travel_group: travel_group,
                                item_status: itemStatus.checked,
                                item_id: itemId
                            })
                }
                checklist.addEventListener('click', function(){
                    checklist.addEventListener('blur', function(e){
                        inputBlur(e);
                    })
                })
                checklist.addEventListener('keyup', function(e){
                    if(e.keyCode === 9) {
                        checklist.addEventListener('blur', function(e){
                            inputBlur(e);
                        })
                    }
                })
            })
        }
    </script>
{% endblock %}