{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap img-wrap--main">
            <div class="container container--narrow container--white mt--4">
                <div class="grid--full checklist">
                    <h1>Edit Item</h1>
                    <form class="checklist__edit" method="post">{% csrf_token %}
                        <div class="flex a--ctr">
                            <div class="flex mr--4">
                                {{ form.item_status }}
                                <label for="item_status"></label>
                            </div>
                            <div>
                                <p>Checklist Item:</p>
                                {{ form.checklist_item }}
                            </div>
                        </div>
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}