{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap img-wrap--main">
            <div class="container container--narrow container--white mt--0">
                <div class="grid--full checklist">
                    <h1>Checklist Detail</h1>
                    {% for field in items %}
                        <form class="checklist__items mb--2" action="{% url 'travel_checklist_edit' field.id request.user.username %}" method="post">
                            {% csrf_token %}
                            <div class="flex j--btwn">
                                <div class="checklist__info flex">
                                    <input type="hidden" name="checklist_item" value="{{ field }}">
                                    {% if not field.item_status %}
                                        {{ checklist_form.item_status }}
                                        <label for="item_status"></label>
                                        <p class="checklist__item m--0 mr--2">{{ field }}</p>
                                        <a href="{% url 'travel_checklist_edit' field.id request.user.username %}">edit</a>
                                        |
                                        <a href="{% url 'travel_checklist_delete' field.id request.user.username %}">delete</a>
                                    {% elif field.item_status %}
                                        {{ checklist_form.item_status }}
                                        <label for="item_status--check"></label>
                                        <p class="checklist__item m--0 mr--2">{{ field }}</p>
{#                                        <span style="color:red">X - Checked! </span>#}
                                        <a href="{% url 'travel_checklist_edit' field.id request.user.username %}">edit</a>
                                        |
                                        <a href="{% url 'travel_checklist_delete' field.id request.user.username %}">delete</a>
                                    {% endif %}
                                </div>
                                <div class="btn-wrap">
                                    <input type="submit" value="Complete Item"/>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                    <h3>Add another item</h3>
                    <form action="{% url 'travel_checklist_create' travelgroup request.user.username %}" method="post">
                        {% csrf_token %}
                        {{ checklist_create_form.as_p }}
                        <div class="btn-wrap">
                            <input type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}