{% extends 'base.html' %}
{% load compress static %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
		<div class="hero hero--lg hero__form f--wrap a--ctr j--ctr pos--rel o-hide z--10">
			{% for item in site_settings %}
				<img src="{{ item.travelgroup_photo }}" alt="" class="hero__bkg pos--abs">
				<p class="caption caption--hero pos--abs">Photo credit:
					{{ item.travelgroup_photo_attribution }}</p>
			{% endfor %}
			<div class="hero__cnt">
				<h1 class="h1--sm group__head pos--rel c--white grid--full ta--c z--10">My Travel Groups</h1>
				<div class="btn-wrap pos--rel ta--c d--blk w--100 z--10">
					<a href="{% url 'travel_group_create' %}" class="btn btn--sec ta--c mb--3">Create Travel Group</a>
				</div>
			</div>
		</div>
		<div class="container container--narrow container--center">
			<div class="grid--10">
				<div class="trip-list flex--wrap ">
				{% if trips|length == 0 %}
					<div class="d--blk ta--ctr w--100 mt--3 mb--3">
						<h2 class="c--sec ta--c fw--500">You don't have any trips created</h2>
					</div>
				{% else %}
					{% for trip in trips %}
						{% if forloop.first %}
							<span class="blk--shadow trip list-item list-item--featured flex--wrap flex--full mt--4
							mb--4 pos--rel">
								<div class="tag pos--abs">
									<p class="fz--12 fw--700 c--white mt--0 mb--0 pt--1 pb--1 pl--2 pr--2 upcase">Up
										Next</p>
								</div>
								<div class="img-wrap pos--rel">
									{% for item in trip.unsplash_photo.all %}
										<img class="item-img" src="{{ item.photo }}" alt="{{ item.photo_attribution }}">
										<p class="img-caption">Photo credit: {{ item.photo_attribution }}</p>
									{% endfor  %}
								</div>
								<div class="flex--wrap item-cnt pl--2 pr--2 pt--3 pb--3 pos--rel">
									<h3 class="trip__name trip__name--feat m--0 c--char mb--2">{{ trip.trip_name }}</h3>
									<p class="fz--18 mb--1">Travelers:</p>
									<ul class="feat__names ml--0 mt--0 flex--wrap w--100">
										{% for traveler in trip.travelers.all %}
											<li class="flex j--btwn li--none mb--1">{{ traveler }}
												<a href="{% url 'profile' traveler.username %}" class="flex c--sec
												fz--14">
													<span class="link--inline">View Profile {% include 'icons/icon-caret-right.html' %}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
									<div class="btn-wrap mt--3 w--100">
										<a href="{% url 'travel_group_single' trip.id %}" class="btn btn--ter w--100
										ta--c" with trip=trip>View Trip</a>
									</div>
								</div>
							</span>
						{% else %}
							<div class="trip flex--wrap list-card list-item--third container--white mt--2">
								<div class="img-wrap pos--rel">
									{% for item in trip.unsplash_photo.all %}
										<img class="item-img" src="{{ item.photo }}" alt="{{ item.photo_attribution }}">
										<p class="img-caption">Photo credit: {{ item.photo_attribution }}</p>
									{% endfor  %}
								</div>
								<h4 class="trip__name fw-500"><span>{{ trip.trip_name }}</span></h4>
								<ul class="d--blk w--100 ml--0">
									<span class="d--blk fz--18 mb--1">Travelers:</span>
									<ul class="list__names ml--0 flex--wrap w--100">
										{% for traveler in trip.travelers.all %}
											<li class="flex--wrap li--none j--btwn mb--1 w--100">{{ traveler }}
												<a href="{% url 'profile' traveler.username %}" class="c--sec
												fz--16">
												<span class="link--inline c--sec ta--r">
													view profile
													{% include 'icons/icon-caret-right.html' %}
												</span>
												</a>
											</li>

										{% endfor %}
									</ul>
								</ul>
								<div class="btn-wrap">
									<a href="{% url 'travel_group_single' trip.id %}" class="btn btn--card w--100
										ta--c" with trip=trip>View Trip</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			</div>
		</div>
    </div>
{% endblock %}


