{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap--main">
            <div class="container container--narrow container--white">
                <h2 class="ta--c">Edit Travel Group</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" value="Create travel group">Edit Group</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}