{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap--main">
            <div class="container container--narrow container--white">
                <h2 class="ta--c">Create new Travel Group</h2>
                <form action="" method="post">
                    {% csrf_token %}
					<div class="fieldWrapper">
						<label for="{{ form.trip_name.id }}">Trip Name:</label>
						{{ form.trip_name }}
					</div>
					<div class="fieldWrapper">
						<label for="{{ form.travelers.id }}">Traveler username:</label>
						<p class="fz--12">Multiple travelers must be comma-separated (username1, username2, etc)</p>
						{{ form.travelers }}
					</div>
                    <fieldset>
                        <legend>Sightseeing Ideas</legend>
                        {{ sightseeing_form.management_form }}
                        {{ sightseeing_form.non_form_errors }}
                        {% for form in sightseeing_form %}
                            {{ form.id }}
                            <div class="inline {{ sightseeing_form.prefix }}">
                                {{ form.sightseeing_idea }}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <fieldset>
                        <legend>Restaurant Ideas</legend>
                        {{ restaurant_form.management_form }}
                        {{ restaurant_form.non_form_errors }}
                        {% for form in restaurant_form %}
                            {{ form.id }}
                            <div class="inline {{ restaurant_form.prefix }}">
                                {{ form.restaurant_idea }}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <fieldset>
                        <legend>Messages</legend>
                        {{ message_form.management_form }}
                        {{ message_form.non_form_errors }}
                        {% for form in message_form %}
                            {{ form.id }}
                            <div class="inline {{ message_form.prefix }}">
                                {{ form.message }}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <button type="submit" value="Create travel group">Create Group</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}