{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap img-wrap--main">
            <h1 class="group__head c--white grid--full ta--c">{{ travelgroup.trip_name }}</h1>
            <div class="container container--narrow container--white mt--0">
                <div class="grid--full">
                    <h2>Travelers:</h2>

                    {% for traveler in object.travelers.all %}
                        <div class="flex traveler">
                            {% if traveler.profile_photo %}
                                <div class="trav--left">
                                    <div class="user__photo-wrap m--0auto">
                                        <img class="user__photo" src="{{ traveler.profile_photo.url }}" alt="">
                                    </div>
                                    <a class="d--blk c--sec ta--c mt--2" href="{% url 'profile' traveler.username %}">View Profile</a>
                                </div>
                            {% endif %}
                            <div class="traveler__info f--wrap">
                                <div class="traveler__info--top f--nowrap">
                                    <h4 class="mb--1"><span>{{ traveler.first_name }} </span><span>{{ traveler.last_name }}</span></h4>
                                    {% if traveler.username == user.username and travelgroup.pk %}
                                        <div class="link-group flex--wrap">
                                            <a class="c--sec pr--1" href="{% url 'travel_checklist_list' travelgroup.pk traveler.username %}">Traveler Checklist</a>
                                            <img
                                                srcset="{% static 'travel_planner/images/icon-triangle-right.png' %} 1x, {% static 'travel_planner/images/icon-triangle-right@2x.png' %} 2x"
                                                src="{% static 'travel_planner/images/icon-triangle-right.png' %}"
                                                alt="Triangle right">
                                        </div>
                                    {% endif %}
                                </div>
                                <ul class="ml--0">
                                    {% if traveler.city or traveler.state %}
                                        <li class="ml--0 detail__img-wrap f--nowrap f-align--ctr">
                                            <img
                                                class="profile__icon"
                                                srcset="{% static 'travel_planner/images/icon-location.png' %} 1x,  {% static 'travel_planner/images/icon-location@2x.png' %} 2x"
                                                src="{% static 'travel_planner/images/icon-location.png' %}"
                                                alt="Map marker">
                                            <span class="ml--1">{{ traveler.city }}{% if traveler.state %},{% endif %} {{ traveler.state }}</span>
                                        </li>
                                    {% endif %}
                                    {% if traveler.phone %}
                                        <li class="detail__img-wrap f--nowrap f-align--ctr">
                                            <img
                                                class="profile__icon"
                                                srcset="{% static 'travel_planner/images/icon-phone.png' %} 1x, {% static 'travel_planner/images/icon-phone@2x.png' %} 2x"
                                                src="{% static 'travel_planner/images/icon-phone.png' %}"
                                                alt="Phone">
                                            <span class="ml--1">{{ traveler.phone }}</span>
                                        </li>

                                    {% endif %}
                                    {% if traveler.email %}
                                        <li class="detail__img-wrap f--nowrap f-align--ctr">
                                            <img
                                                    class="profile__icon"
                                                    srcset="{% static 'travel_planner/images/icon-email.png' %} 1x, {% static 'travel_planner/images/icon-email@2x.png' %} 2x"
                                                    src="{% static 'travel_planner/images/icon-email.png' %}"
                                                    alt="Mail">
                                            <span class="ml--1">{{ traveler.email }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                                {% if traveler.user_accommodation.all|length > 0  %}
                                    <div class="user-accomm d--blk w--100">
                                        <a href="{% url 'traveler_accommodation' travelgroup.pk traveler.username %}" class="btn btn--primary">User Accommodations</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                    <div class="grid--split">
                        <div class="grid--right mr--2">
                            <div class="group-ideas m--0">
                                <h2>Sightseeing Ideas</h2>
                                <ul class="ml--0">
                                    {% for idea in travelgroup.sightseeing_ideas.all %}
                                        <li class="idea-item sight-item mb--2">
                                            <span class="idea__name sight__name"> {{ idea|safe }}</span>
                                            <span class="sight__link">
                                                <a class="fz--14 c--sec"
                                                     href="{% url 'sightseeing_edit' idea.id %}"
                                                     class="btn">edit | </a>
                                            </span>
                                            <span class="sight__link">
                                                <a class="fz--14 c--sec" href="{% url 'sightseeing_delete' idea.id %}">delete</a>
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                 <div class="add__link ta--l">
                                    <a class="c--sec mr--1 fw--700" href="{% url 'sightseeing_add' travelgroup.id %}">Add Sightseeing Idea</a>
                                    <img
                                        srcset="{% static 'travel_planner/images/icon-triangle-right.png' %} 1x, {% static 'travel_planner/images/icon-triangle-right@2x.png' %} 2x"
                                        src="{% static 'travel_planner/images/icon-triangle-right.png' %}"
                                        alt="Triangle right">
                                 </div>
                            </div>
                        </div>
                        <div class="grid--left mr--2">
                            <div class="group-ideas m--0">
                                <h2>Restaurant Ideas</h2>
                                <ul>
                                    {% for idea in travelgroup.restaurant_ideas.all %}
                                        <li class="li-item rest-item mb--2">
                                            <span class="idea__name rest__name">{{ idea|safe }}</span>
                                            <span class="rest__link"><a class="fz--14 c--sec"
                                                                        href="{% url 'restaurant_edit' idea.id %}">edit | </a></span>
                                            <span class="rest__link"><a class="fz--14 c--sec"
                                                                        href="{% url 'restaurant_delete' idea.id %}">delete</a></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="add__link ta--l">
                                    <a class="c--sec mr--1 fw--700" href="{% url 'restaurant_add' travelgroup.id %}">Add Restaurant Idea</a>
                                    <img
                                        srcset="{% static 'travel_planner/images/icon-triangle-right.png' %} 1x, {% static 'travel_planner/images/icon-triangle-right@2x.png' %} 2x"
                                        src="{% static 'travel_planner/images/icon-triangle-right.png' %}"
                                        alt="Triangle right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid--full">
                        <h2>Messages</h2>
                        <ul class="msgs">
                            {% for msg in travelgroup.messages.all %}
                                <li class="msg-item mb--4">
                                    <span class="msg__detail mb--1 fz--14">{{ msg.date_created_at }} &mdash; {{ msg.message_creator.first_name }} {{ msg.message_creator.last_name }}</span>
                                    <span class="msg">{{ msg|safe }}</span>
                                    <span class="msg__links d--blk mt--1"><a class="c--sec fz--14" href="{% url 'message_edit' msg.pk %}">Edit | </a><a class="c--sec fz--14" href="{% url 'message_delete' msg.pk %}">Delete</a></span>
                                </li>
                            {% endfor %}
                        </ul>

                        <form action="{% url 'message_add' travelgroup.id %}" method="post">
                            {% csrf_token %}
                            {{ message_form.as_p }}
                            <div class="btn-wrap">
                                <input type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
