{% extends 'base.html' %}
{% load static %}
{% load compress %}

{% block head %}
    {{ block.super }}
    {% block css %}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_group/scss/travel_group.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
<div class="body-wrap mb--3">
	<div class="hero hero--lg hero__profile pos--rel o-hide z--10 h--100">
		{% for photo in travelgroup.unsplash_photo.all  %}
			<img src="{{photo}}" alt="Curacao" class="hero__bkg pos--abs w--100">
		{% endfor %}
		<div class="container container--max container--center flex a--end h--100">
			 <h1 class="d--blk w--100 group__head pos--rel c--white grid--full ta--l mb--0 z--10"
			 >{{ travelgroup.trip_name }}</h1>
		</div>
	</div>
	<div class="container container--max">
		<div class="grid--2col mt--2">
			<div class="left">
				<div class="blk--shadow p--2">
					<h4 class="upcase c--sec mt--1 mb--4 fz--18 b-bot--sec">Travelers</h4>
					{% for traveler in object.travelers.all %}
						<div class="f--wrap traveler mt--2">
							<div class="trav--left">
								<div class="user__photo-wrap">
								{% if traveler.profile_photo %}
									<img class="user__photo" src="{{ traveler.profile_photo.url }}" alt="">
								{% else %}
									<img src="{% static 'travel_planner/images/icon-user.svg' %}" alt=""
										 class="user__photo user__photo--def">
								{% endif %}
								</div>
							</div>

							<div class="traveler__info">
								<div class="traveler__info-wrap">
									<div class="traveler__info--top f--wrap">
										<h4 class="mb--1 mt--0 c--char">
											<span>{{ traveler.first_name }} </span><span>{{ traveler.last_name }}</span>
										</h4>
									</div>
									<div class="f--wrap ml--0 a--ctr">
										{% if traveler.city or traveler.state %}
											<div class="ml--0 detail__img-wrap f--nowrap f-align--ctr">
												<img
													class="profile__icon"
													srcset="{% static 'travel_planner/images/icon-location.png' %} 1x,  {% static 'travel_planner/images/icon-location@2x.png' %} 2x"
													src="{% static 'travel_planner/images/icon-location.png' %}"
													alt="Map marker">
												<p class="ml--1 mt--0 mb--0 c--char fz--14">{{ traveler.city }}{% if traveler.state %},{%endif %} {{ traveler.state }}</p>
											</div>
										{% endif %}
									</div>
									<div class="user-trip mt--1">
										<a class="flex a--ctr c--sec fz--14" href="{% url 'accommodation_list_travelgroup' traveler.username travelgroup.id %}">
											<span class="icon-hotel">
												{% include 'icons/icon-hotel.html' %}</span>
											<span class="link--inline ml--1">Accommodations
												{% include 'icons/icon-caret-right.html' %}
											</span>
										</a>

									</div>
								</div>
							</div>
							<div class="f--wrap a--ctr j--end  mt--1 w--100">
								<a class="btn btn--primary d--blk ta--r c--white mr--1 fw--700 fz--14 w--100 ta--c
								mb--1" href="{% url 'profile' traveler.username %}">View Profile</a>
								{% if travelgroup.group_owner == request.user and travelgroup.group_owner == traveler %}
									<a href="{% url 'add_traveler' travelgroup.id %}" class="btn btn--ter
								d--blk ta--r c--white mr--1 mb--1 fw--700 fz--14 w--100 ta--c">Add Travelers</a>
								{% endif %}
								{% if travelgroup.group_owner == request.user and travelgroup.group_owner != traveler %}
									<a href="{% url 'travel_group_remove_user' travelgroup.id traveler.username %}"
									   class="btn btn--charcoal d--blk ta--r c--white mr--1 fw--700 fz--14 w--100
									   ta--c">Remove Traveler</a>
								{% elif request.user == traveler and travelgroup.group_owner != request.user %}
									<a href="{% url 'travel_group_remove_user' travelgroup.id traveler.username %}"
									   class="btn btn--charcoal d--blk ta--r c--white mr--1 fw--700 fz--14 w--100
									   ta--c">Remove Myself</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="d--blk mt--2 mr--0">
					<a href="{% url 'travel_group_edit' travelgroup.id %}" class="btn btn--sec ta--c d--blk mr--0">Edit
					Trip</a>
				</div>
			</div>
			<div class="right">
				<div class="grid--1-4 link-blk blk--shadow a--ctr mb--2">
					<div class="icon-blk pt--1 pb--1 pr--2 pl--2 h--100">
						<img class="icon-img" src="{% static 'travel_planner/images/icon-sightseeing.svg' %}" alt="">
					</div>
					<div class="cnt w--100 h--100 pr--2">
						<div class="cnt__accord-link a--start f--nowrap flex--full w--100">
							<h4 class="fw--500 upcase c--sec ml--2">Sightseeing Ideas</h4>
							<img class="cnt-img cnt-img--accord" src="{% static 'travel_planner/images/icon-arrow-right.svg' %}"
								 alt="">
						</div>
						<div class="accord--expand f--wrap ml--2 mt--3 mb--2">
							<div class="idea-items ml--0 w--100">
								{% if travelgroup.sightseeing_ideas.all|length == 0 %}
									<p>No sightseeing ideas yet. Add one now!</p>
								{% endif %}
								{% for idea in travelgroup.sightseeing_ideas.all %}
									<div class="idea-item sight-item f--nowrap a--ctr j--btwn w--100 pb--2 mb--2">
										<div class="idea-detail">
											<div class="idea__name sight__name c--char fz--20">
												{{ idea|safe }}</div>
											<div class="idea__creator fz--14 mt--1 c--char">Posted by:
												{{ idea.sightseeing_creator.first_name }}
												{{ idea.sightseeing_creator.last_name }}</div>
										</div>
										{% if user == idea.sightseeing_creator %}
											<div class="item-links">
												<span class="sight__link">
													<a class="fz--14 c--sec"
													   href="{% url 'sightseeing_edit' idea.id %}"
													   class="btn">edit | </a>
												</span>
												<span class="sight__link">
													<a class="fz--14 c--sec" href="{% url 'sightseeing_delete' idea.id %}">delete</a>
												</span>
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
							<div class="add__link ta--l mt--3">
								<div class="cnt__accord-link a--start f--nowrap flex--full w--100">
									<a class="c--sec mr--1 fw--700 w--auto d--inblk" href=
											"{% url 'sightseeing_add' travelgroup.id %}">Add
										Sightseeing Idea <span class="link--inline">{% include 'icons/icon-caret-right.html' %}</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid--1-4 link-blk blk--shadow a--ctr mb--2">
					<div class="icon-blk pt--1 pb--1 pr--2 pl--2 h--100">
						<img class="icon-img" src="{% static 'travel_planner/images/icon-food.svg' %}"
							 alt="">
					</div>
					<div class="cnt w--100 h--100 pr--2">
						<div class="cnt__accord-link a--start f--nowrap flex--full w--100">
							<h4 class="fw--500 upcase c--sec ml--2">Restaurant Ideas</h4>
							<img class="cnt-img cnt-img--accord" src=
									"{% static 'travel_planner/images/icon-arrow-right.svg' %}"
								 alt="">
						</div>
						<div class="accord--expand f--wrap flex--full ml--2 mt--3 mb--2">
							<div class="ml--0 w--100">
								{% if travelgroup.restaurant_ideas.all|length == 0 %}
									<p>No restaurant ideas yet. Add one now!</p>
								{% endif %}
								{% for idea in travelgroup.restaurant_ideas.all %}
									<div class="idea-item rest-item f--nowrap a--ctr j--btwn w--100 pb--2 mb--2">
										<div class="idea-detail">
											<div class="rest__name c--char fz--20">
												{{ idea|safe }}</div>
											<div class="idea__creator fz--14 mt--1 c--char">Posted by:
												{{ idea.restaurant_creator.first_name }}
												{{ idea.restaurant_creator.last_name }}</div>
										</div>
										{% if user == idea.restaurant_creator %}
											<div class="item-links">
												<span class="rest__link">
													<a class="fz--14 c--sec" href="{% url 'restaurant_edit' idea.id %}">edit | </a>
												</span>
												<span class="rest__link">
													<a class="fz--14 c--sec" href="{% url 'restaurant_delete' idea.id %}">delete</a>
												</span>
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
							<div class="add__link ta--l mt--3">
								<div class="cnt__accord-link a--start f--nowrap w--100">
									<a class="c--sec mr--1 fw--700 w--auto d--inblk" href="{% url 'restaurant_add' travelgroup.id %}">Add
										Restaurant Idea <span class="link--inline">{% include 'icons/icon-caret-right.html' %}</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="messages d--blk pt--1">
					<h4 class="d--blk upcase c--sec mt--3">Messages</h4>
					{% if messages.all|length > 0 %}
						<ul class="msgs ml--0">
							{% for msg in messages.all %}
								{% if msg|safe %}
									<li class="msg-item mb--4">
										<span class="msg__detail mb--1 fz--14">{{ msg.date_created_at }} &mdash; {{ msg.message_creator.first_name }} {{ msg.message_creator.last_name }}</span>
										<span class="msg">{{ msg|safe }}</span>
										<span class="msg__links d--blk mt--1">
											<a class="c--sec fz--14" href="{% url 'message_edit' msg.pk %}">Edit | </a>
											<a class="c--sec fz--14" href="{% url 'message_delete' msg.pk %}">Delete</a>
										</span>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
					<form action="{% url 'message_add' travelgroup.id %}" method="post" class="msg-form ml--0">
						{% csrf_token %}
						{{ message_form.as_p }}
						<div class="btn-wrap ta--l">
							<input type="submit" value="Submit"/>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}