{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    {% block css %}
         {{ block.super }}
    {% endblock %}
{% endblock %}

{% block body %}
   <div class="form__bkg f--wrap a--ctr j--ctr pos--rel z--10">
   	{{ object.travelgroup }}
   		{% for photo in object.travel_group.unsplash_photo.all  %}
			<div class="form__img-wrap pos--abs o-hide">
				<img src="{{photo}}" class="hero__bkg pos--abs w--100">
			</div>
		{% endfor %}
		<div class="container container--wide container--center pos--rel z--10">
			<div class="grid mt--2">
				<div class="grid--6 h--100">
					<div class="form--block grid pos--rel h--100 p--2 mt--4">
						<div class="grid--10 h--100 mt--4 mb--4 pr--1 c--white">
							<form method="post">{% csrf_token %}
								<p class="ta--c c--white fz--18">Are you sure you want to delete "{{ object }}"?</p>
								<div class="f--nowrap j--ctr">
									<input type="submit" value="Confirm">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}