@import 'travel_planner/scss/general.scss';

.accommodation {
  &:not(.no-border) {
    border-bottom: 2px solid rgba($charcoal, 0.3);
  }
  margin-top: 2rem;

  .link-group {
    margin-left: auto;
  }

  img {
    align-self: center;
  }
}

.num {
  color: rgba($charcoal, 0.4);
  font-size: 2.6rem;
  left: -2rem;
}