{% extends 'base.html' %}
{% load compress static %}

{% block head %}
    {{ block.super }}
    {% block css %}
         {{ block.super }}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_transportation/scss/transport.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">

		{% include '_list-hero.html' with type="transportation" %}

		<div class="container container--max container--center pos--rel z--10">
			<div class="grid mt--2">
					<div class="grid--10">
					{% if transportation|length > 0 %}
						{% regroup transportation by travel_group as groups %}
						{% for group in groups %}
							<div class="blk--shadow list-item flex--wrap mb--4 pos--rel">
								<div class="img-wrap">
									<img class="item-img" src=
											"{% static 'travel_planner/images/travel-zipline.png' %}"
										 alt="Zipline">
								</div>
								<div class="item-cnt p--2 pos--rel">
									<h3 class="m--0 c--char">{{ group.grouper.trip_name }}</h3>
									{% for transport in group.list %}
										<div class="item-wrap pos--rel">
											<div class="item-inner mt--2 pb--2">
												<ul class="item-list ml--0">
													<li class="li--none mb--1 mt--2 fz--22">
														<span class="fw--700 fz--22 c--sec">{{ transport.name }}</span>
													</li>
													<li class="li--none">
														{{ transport.departure_city }}
														<img
														srcset="{% static 'travel_planner/images/icon-arrow-right.png' %} 1x, {% static 'travel_planner/images/icon-arrow-right.png' %} 2x"
														src="{% static 'travel_planner/images/icon-arrow-right.png' %}"
														alt="">
														{{ transport.arrival_city }}</li>
												</ul>
												{% if user.username == user_profile.username %}
													<div class="link-group flex--wrap ml--0 mt--3">
														<a class="c--sec pr--1 fz--14" hre
														   f="{% url 'transportation_edit' transport.pk %}">Edit Info |</a>
														<a class="c--sec pr--1 fz--14" hr
														   ef="{% url 'transportation_delete' transport.pk %}">Delete Info</a>
													</div>
												{% endif %}
												<a class="item-link c--white pos--abs" href="
{% url 'transportation_detail' transport.user.username transport.pk %}">
													<img src="
		{% static 'travel_planner/images/icon-arrow-right.svg' %}" alt="Arrow right">
												</a>
											</div>
										</div>
									{% endfor %}
									{% if group.list|length > 1 %}
										<a class="btn-accord cnt__accord-link pos--abs c--white pos--abs" href="javascript:void();">
											<img src="
{% static 'travel_planner/images/icon-arrow-down-white.svg' %}" alt="Arrow down">
										</a>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
					{% else %}
						<p class="ta--c fz--18 mt--4 mb--4">You don't have any transportation items.</p>
					{% endif %}
				<div class="grid--8">
					<a class="btn btn--sec ta--c d--blk m--0auto mt--4" href=
							"{% url 'transportation_create' user.pk %}">Add
						New Transport Entry</a>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
