{% extends 'base.html' %}
{% load compress static %}

{% block head %}
    {{ block.super }}
    {% block css %}
         {{ block.super }}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_transportation/scss/transport.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">

		{% include 'travel_transportation/partials/_transportation_hero.html' %}

		<div class="container container--max container--center pos--rel z--10">
			{% if transportation|length > 0 %}
				<div class="grid mt--2">
					<div class="grid--10">
						{{ travel_group }}
						{% if transportation|length > 0 %}
							{% regroup transportation by travel_group as groups %}
							{% for group in groups %}
								<div class="blk--shadow list-item flex--wrap mb--4 pos--rel">
									<div class="img-wrap pos--rel">
										{% for item in group.grouper.unsplash_photo.all %}
											<img class="item-img" src="{{ item.photo }}" alt="{{ item.photo_attribution }}">
											<p class="img-caption">Photo by: {{ item.photo_attribution }}</p>
										{% endfor  %}
									</div>
									<div class="item-cnt p--2 pos--rel">
										<h3 class="trip__name m--0 c--sec">{{ group.grouper.trip_name }}</h3>
										{% for transport in group.list %}
											<div class="item-wrap pos--rel">
												<div class="item-inner mt--2 pb--2">
													<ul class="item-list ml--0">
														<li class="li--none mb--0 mt--2 fz--22">
															<span class="fw--700 fz--22 c--char">{{ transport.name }}</span>
														</li>
														<li class="li--none">
															<span class="mr--1">{{ transport.departure_city }}</span>
															{% include 'icons/icon-caret-right.html' %}
															<span class="ml--1">{{ transport.arrival_city }}</span>
														</li>
													</ul>
													{% if user.username == user_profile.username %}
														<div class="link-group flex--wrap ml--0 mt--3">
															<a class="c--sec pr--1 fz--14" href="{% url 'transportation_edit' transport.pk %}">Edit Info |</a>
															<a class="c--sec pr--1 fz--14" href="{% url 'transportation_delete' transport.pk %}">Delete Info</a>
														</div>
													{% endif %}
													<a class="item-link c--white pos--abs" href="
	{% url 'transportation_detail' transport.user.username transport.pk %}">
														<img src="
			{% static 'travel_planner/images/icon-arrow-right.svg' %}" alt="Arrow right">
													</a>
												</div>
											</div>
										{% endfor %}
										{% if group.list|length > 1 %}
											<a class="btn-accord cnt__accord-link pos--abs c--white pos--abs" href="javascript:void();">
												<img src="
	{% static 'travel_planner/images/icon-arrow-down-white.svg' %}" alt="Arrow down">
											</a>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
						{% endif %}
				</div>
			{% else %}
				<div class="grid--10">
					<div class="flex--wrap">
						<div class="d--blk ta--ctr w--100 mt--3 mb--3">
							<h2 class="d--blk c--sec ta--c fw--500 mt--2 mb--2">You don't have any transportation
								items
								created</h2>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
    </div>
{% endblock %}
