{% extends 'base.html' %}
{% load compress static %}

{% block head %}
    {{ block.super }}
    {% block css %}
         {{ block.super }}
        {% compress css inline %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'travel_transportation/scss/transport.scss' %}">
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="body-wrap">
        <div class="img-wrap img-wrap--main">
            <div class="container container--narrow container--center container--white">

                <h2 class="ta--c">Edit Transportation Info</h2>

                <form action="" method="post">
                    {% csrf_token %}
                    <ul class="transport-list flex--wrap">
                        {% for field in form.visible_fields %}
                            {% if field.name == 'arrival_city' or field.name == 'arrival_date' or field.name == 'arrival_time' or field.name == 'departure_city' or field.name == 'departure_date' or field.name == 'departure_time' %}
                                <li class="transport-wrap transport-wrap--sm li--none">
                                    <label for="">{{ field.label }}</label>
                                    {{ field }}
                                </li>
                            {% else %}
                                <li class="transport-wrap li--none">
                                    <label for="">{{ field.label }}</label>
                                    {{ field }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}